@font-face {
    font-family: Hamster;
    src: url(Hamster.otf);
}
html{
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    background-color: #efefef;
    min-height: 100%;
}
@media screen and (min-width: 800px){
    nav ul li{
    	display: inline;
        padding: 2.5em;
        padding-bottom: 1.52em;
    }
    footer{
        display: block;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    nav ul li{
        padding: 0.25em;
        text-align: center;
    }
    nav ul{
        list-style:none;
    }
    footer{
        display: none;
    }
}

nav{
    position: relative;
    left: 0;
    background-color: #456;
    padding-top: 0.01%;
    padding-bottom: 0.01%;
}

nav ul li > a, nav ul li > a:active{
    position: relative;
	color: #f0f0f0;
	text-decoration:none;
    font-size: 1.5em;
    font-family: 'Patua One', cursive;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

nav ul li > a:hover{
 color: #fefefe;
}
#podcast_media_container {
    position: relative;
	top:3em;
}
#podcasts_container, #podcast_page_container{
    display: inline-block;
}
#web_title{
    position: relative;
    font-family: 'Hamster', fantasy;
    color: #E55;
    font-size: 1.9em;
    top: 0.07em;
}

#web_title span{
    color: #E94949;
}

#podcasts_container{
    position: relative;
    float: left;
    height: 80%;
    width: 50%;
    left: 1%;
    padding-top: 1%;
	overflow-x:hidden;
	overflow-y:auto;
}
a {
	color: black;
}
.podcast {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 3em;
    background-color: #E94949;
    margin-top: 0.3em;
    margin-right: 0.3em;
	vertical-align:middle;
	line-height:3em;
	padding-left:1em;
}
.podcast audio {
	width:100%;
	position:absolute;
	bottom:0;
}
footer{
    position: absolute;
    margin: 2em;
    font-size: 0.8em;
    font-family: monospace;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /*margin-top: 3em;*/
}

#love{
    font-family: monospace;
    font-weight: bold;
    color: #f88;
}

/* PODCAST PAGE */
#podcast_page_container{
    position: relative;
    float: right;
    padding-top: 1%;
    /*background-color: #ddd;*/
    right: 1%;
    width: 43%;
}
#podcast_video_container{
    position: relative
    width: 100%;
    height: 70%;
    left: 4%;
    top: 5%;
    text-align: center;
    /*background-color: #ccc;*/
}
#podcast_video{
    position: relative;
    width: 100%;
    height: 20em;
    top: 0;
    text-align: center;
    background-color: #e55;
    margin: 0 auto;
}
#podcast_description{
    position: relative;
    width: 96%;
    height: 20%;
    text-align: center;
    font-family: "Didact Gothic", Arial, serif;
    margin: 0 auto;
}
#podcast_title_desc{
    font-size: 1.8em;
	height:3em;
	display:inline-block;
	position:relative;
	top:0px;
    left:1em;
}
#podcast_img{
	width:3em;
	height:3em;
	display:inline-block;
	position:relative;
    top:0.8em;
}
#podcast_p_desc{
    font-size: 1.2em;
	text-align:justify;
	margin-top:4em;
}
#white_window_split{
    background-color: white;
    position: absolute;
    width: 50%;
    opacity: 0.5;
}

.podcast_mini_title{
    text-align: center;
    font-size: 1vw;
    /*font-size: 1.2em;*/
    padding-top: 0.2em;
	background-color:rgba(255,255,255,0.5);
}
